Repository alohaworld42/shopfollow: changes, and which GitLab CI jobs are due for each by the changed paths.
All: deploy-migrations, deploy-functions

Path conditions:
  deploy-migrations: any of: supabase/migrations/**/*
  deploy-functions: any of: supabase/functions/**/*

UI rework: LTK-inspired design with multi-image support and affiliate links
  src/components/feed/FeedCard.tsx
  src/components/inbox/InboxItem.tsx
  src/components/profile/ImportProductForm.tsx
  src/hooks/useInbox.ts
  src/hooks/useProducts.ts
  src/index.css
  src/pages/Dashboard.tsx
  src/pages/Inbox.tsx
  src/pages/Welcome.tsx
  src/services/inboxService.ts
  src/services/productService.ts
  src/types/index.ts
Due: none

feat: refactor core application pages and shared UI components for the shopfollow application.
  src/components/feed/FeedCard.tsx
  src/components/inbox/InboxItem.tsx
  src/components/layout/BottomNav.tsx
  src/components/layout/Header.tsx
  src/index.css
  src/pages/Dashboard.tsx
  src/pages/Feed.tsx
  src/pages/Inbox.tsx
  src/pages/Login.tsx
  src/pages/Signup.tsx
  src/pages/Welcome.tsx
Due: none

feat: Add Push Notifications (SW, API, UI)
  public/sw.js
  src/pages/AdminDashboard.tsx
  src/services/moderationService.ts
  src/services/notificationService.ts
  src/services/supabase.ts
  supabase/functions/send-push/index.ts
  supabase/migrations/005_push_notifications.sql
Due: deploy-migrations, deploy-functions

fix: Remove demo data, add blocked domain detection in scraper
  src/components/profile/ImportProductForm.tsx
  src/hooks/useInbox.ts
  src/hooks/useProducts.ts
  supabase/functions/scrape-product/index.ts
Due: deploy-functions

feat: Add responsive desktop layout with sidebar navigation
  src/components/layout/Layout.tsx
  src/components/layout/Sidebar.tsx
  src/components/layout/index.ts
  src/index.css
Due: none

feat: Add Google/Apple social login and email verification
  src/context/AuthContext.tsx
  src/pages/Login.tsx
  src/services/authService.ts
  src/types/index.ts
Due: none

fix: Remove demo data and fix isDemoMode for production
  src/hooks/useProducts.ts
  src/hooks/useUsers.ts
  src/pages/Search.tsx
  src/services/analyticsService.ts
  src/services/inboxService.ts
  src/services/notificationService.ts
  src/services/productService.ts
Due: none

fix: Allow public Supabase keys in Netlify build (RLS-secured)
  netlify.toml
Due: none

fix: Remove demo mode completely, fix auth error handling
  src/context/AuthContext.tsx
  src/pages/Welcome.tsx
Due: none

fix: improve auth error handling and remove demo mode
  .gitignore
  package-lock.json
  package.json
  playwright.config.ts
  scripts/debug_auth.js
  src/components/feed/FeedCard.tsx
  src/components/profile/ImportProductForm.tsx
  src/context/AuthContext.tsx
  src/hooks/useProducts.ts
  src/pages/Dashboard.tsx
  src/pages/Feed.tsx
  src/pages/Login.tsx
  src/pages/Search.tsx
  src/pages/Signup.tsx
  src/pages/Welcome.tsx
  src/services/productService.ts
  src/services/searchService.ts
  supabase/functions/generate-affiliate-link/index.ts
  supabase/migrations/006_saves_schema.sql
  supabase/migrations/007_affiliate_schema.sql
  supabase/migrations/009_secure_view.sql
  tests/auth.spec.ts
  tests/example.spec.ts
  tests/navigation.spec.ts
Due: deploy-migrations, deploy-functions

feat: add social login (Google/Apple) to Signup and Login pages, centralize auth error handling
  .gitignore
  src/components/common/Button.tsx
  src/components/common/Card.tsx
  src/components/common/Modal.tsx
  src/components/feed/FeedCard.tsx
  src/components/feed/ProductDetail.tsx
  src/components/layout/BottomNav.tsx
  src/components/layout/Header.tsx
  src/components/layout/Sidebar.tsx
  src/components/moderation/ReportModal.tsx
  src/components/network/GroupManager.tsx
  src/components/network/UserCard.tsx
  src/components/profile/EditProductModal.tsx
  src/components/profile/ImportProductForm.tsx
  src/components/profile/ProductGrid.tsx
  src/components/profile/ProfileHeader.tsx
  src/index.css
  src/lib/supabase.ts
  src/pages/AdminDashboard.tsx
  src/pages/Dashboard.tsx
  src/pages/Feed.tsx
  src/pages/Inbox.tsx
  src/pages/Login.tsx
  src/pages/Network.tsx
  src/pages/Notifications.tsx
  src/pages/Purchases.tsx
  src/pages/Reviews.tsx
  src/pages/Search.tsx
  src/pages/Settings.tsx
  src/pages/Signup.tsx
  src/pages/Welcome.tsx
  src/services/authService.ts
  tests/auth_debug.spec.ts
  tests/comprehensive_clicks.spec.ts
  tests/ui_structure.spec.ts
Due: none

feat: Implement initial application routing, user authentication and social features, and Supabase service integration.
  src/App.tsx
  src/pages/Network.tsx
  src/services/analyticsService.ts
  src/services/productService.ts
  src/services/searchService.ts
  src/services/userService.ts
Due: none
